@import "colores.scss";



@mixin botones($fondo, $colorTexto){
    background-color: $fondo;
    color: $colorTexto;
    padding: 8px 16px;
    text-decoration: none;
    display: block;
    max-width: 120px;
    margin: auto;
    margin-bottom: 2rem;
}

.btn-mas{
    @include botones($fondoBoton, $textoBoton);
}

%enlacesHover{

    border-bottom: 1px solid;
    color: #F2B138 !important;

}

.nav-link:hover{
    @extend %enlacesHover;
}